.InfoBox{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.card{
 border: 2px solid black;
 padding: 10px;
 border-radius: 10px;
 font-size: large;
}